<!doctype html>
<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jersey+10&family=Limelight&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/66a5eab7b2.js" crossorigin="anonymous"></script>
	<link rel="icon" type="image/x-icon" href="/img/thief1.svg">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">
<!-- once logged in can access recent news page with yt links and articles, could also have another page for just mesagess to chat and ofc a featured story page (aka paris heist), also one page of just images...in other words, (trending for recent?)-->
    <div class="jumbotron text-center">
        <h1>ArtHeist</h1>
        <h3>Where every masterpiece has a story...</h3>
        <!-- <img src="img/stolen.jpg" alt="art thief" class="thief"> -->

        <!-- <p>Login or Sign Up:</p> -->

        <a href="/login" class="btn-default"><span class="fa fa-user-tie"></span> Login</a>
        <a href="/signup" class="btn-default"><span class="fa fa-user"></span> Sign Up</a>

    </div>

</div>
</body>
</html>
